<h3>Your Insurance</h3>

<div>
  <div class="row">
    <div class="col-md-4">
      <h5>Are you a Medicare Part B patient</h5>
    </div>
    <div class="col-md-6">
      <div class="row">
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" (click)="nobtn();"  class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1">
                 No
                </label>
              </div>
              <div class="form-check">
              <label class="form-check-label">
                  <input type="radio" class="form-check-input" (click)="yesbtn();"  name="optionsRadios" id="optionsRadios2" value="option2">
                 Yes
                </label>
              </div>
      </div>

    </div>
  </div>

  <!-- If No -->
  <div *ngIf="displayForm==true">
    <div class="benifit_info">
      <h6>Prescription Benifit Information</h6>
      <span style="color:gray">Your prescription benifit card may be different than your medical card</span>

      <!-- prescription benifit card  -->
      <div>
        <!-- starting of div -->
        <div class="form-group">
          <div class="custom-control custom-checkbox">
            <input type="checkbox"  (click)="benefitCard($event);" class="custom-control-input" id="customCheck1">
            <label class="custom-control-label" for="customCheck1">I do not have my prescription benifit card</label>
          </div>
        </div>
        <!-- Prescription Details -->
        <div *ngIf="displayBenifitcard==true">
          <div class="row">
            <!-- Input Box -->
            <div class="col-md-6">
              <div class="form-group input-margin">
                <label class="col-form-label" for="inputDefault">Prescription Benifit Company</label>
                <input type="text" class="form-control" placeholder="" id="inputDefault">
              </div>

              <div class="form-group input-margin">
                <label class="col-form-label" for="inputDefault">Prescription Benifit Company Phone Number</label>
                <input type="text" class="form-control" placeholder="" id="inputDefault">
                <span style="color:gray; font-size:12px">Example: 555-555-555</span>
              </div>
            </div>
            <!-- Input box end -->

            <!-- Card start -->
            <img src=".\assets\excel\card1.jpg" style="width: 25%; height: 50%;">
            <!-- Card ended -->
          </div>





          <!-- card holders input -->
          <div class="row">
            <div class="col-md-4">
              <div class="form-group ">
                <label class="col-form-label" for="inputDefault">Card Holder's First Name</label>
                <input type="text" class="form-control" placeholder="" id="inputDefault">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group input-margin">
                <label class="col-form-label" for="inputDefault">Card Holder's Last Name</label>
                <input type="text" class="form-control" placeholder="" id="inputDefault">
              </div>
            </div>
          </div>

          <!-- ID and Group -->
          <div class="row">
            <div class="col-md-4">
              <div class="form-group ">
                <label class="col-form-label" for="inputDefault">Id</label>
                <input type="text" class="form-control" placeholder="" id="inputDefault">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group input-margin">
                <label class="col-form-label" for="inputDefault">Group (GRP)</label>
                <input type="text" class="form-control" placeholder="" id="inputDefault">
              </div>
            </div>
          </div>

          <!-- BIN & PIN -->
          <div class="row">
            <div class="col-md-4">
              <div class="form-group ">
                <label class="col-form-label" for="inputDefault">BIN (RxBIN)</label>
                <input type="text" class="form-control" placeholder="" id="inputDefault">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group input-margin">
                <label class="col-form-label" for="inputDefault">PCN (RxPCN)</label>
                <input type="text" class="form-control" placeholder="" id="inputDefault">
              </div>
            </div>
          </div>
        </div> <!-- div ended -->
      </div>
    </div>





    <div class="benifit_info">
      <h6>Medical Insurance Information</h6>
      <!-- Medical card  -->

      <div class="form-group">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" (click)="medicalCard($event);" class="custom-control-input" id="customCheck2">
          <label class="custom-control-label" for="customCheck2">I do not have my Medical Insurance card</label>
        </div>
      </div>
      <div>
        <!-- starting of div -->


        <div *ngIf="displayMedicalCard==true">
          <div class="row">
            <!-- Input Box -->
            <div class="col-md-6">
              <div class="form-group input-margin">
                <label class="col-form-label" for="inputDefault">Prescription Benifit Company</label>
                <input type="text" class="form-control" placeholder="" id="inputDefault">
              </div>

              <div class="form-group input-margin">
                <label class="col-form-label" for="inputDefault">Prescription Benifit Company Phone Number</label>
                <input type="text" class="form-control" placeholder="" id="inputDefault">
                <span style="color:gray; font-size:12px">Example: 555-555-555</span>
              </div>
            </div>
            <!-- Input box end -->

            <!-- Card start -->
            <div class="col-md-6">
              <div class="card">
                <div>
                  <p>Prescription card</p>
                  <div class="row text_sizing">
                    <div class="col-md-6">
                      <p>RxBN</p>
                    </div>
                    <div class="col-md-6">
                      <p>0000</p>
                    </div>
                  </div>

                  <div class="row text_sizing">
                    <div class="col-md-6">
                      <p>RxBN</p>
                    </div>
                    <div class="col-md-6">
                      <p>0000</p>
                    </div>
                  </div>

                  <div class="row text_sizing">
                    <div class="col-md-6">
                      <p>RxBN</p>
                    </div>
                    <div class="col-md-6">
                      <p>0000</p>
                    </div>
                  </div>

                  <div class="row text_sizing">
                    <div class="col-md-6">
                      <p>RxBN</p>
                    </div>
                    <div class="col-md-6">
                      <p>0000</p>
                    </div>
                  </div>
                </div>


                <br>
                <div class="row text_sizing">
                  <div class="col-md-6">
                    <p>RxBN</p>
                  </div>
                  <div class="col-md-6">
                    <p>0000</p>
                  </div>
                </div>

                <div class="row text_sizing">
                  <div class="col-md-6">
                    <p>RxBN</p>
                  </div>
                  <div class="col-md-6">
                    <p>0000</p>
                  </div>
                </div>
              </div>

            </div>
            <!-- Card ended -->
          </div>
          <!-- card holders input -->
          <div class="row">
            <div class="col-md-4">
              <div class="form-group ">
                <label class="col-form-label" for="inputDefault">Card Holder's First Name</label>
                <input type="text" class="form-control" placeholder="" id="inputDefault">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group input-margin">
                <label class="col-form-label" for="inputDefault">Card Holder's Last Name</label>
                <input type="text" class="form-control" placeholder="" id="inputDefault">
              </div>
            </div>
          </div>

          <!-- ID and Group -->
          <div class="row">
            <div class="col-md-4">
              <div class="form-group ">
                <label class="col-form-label" for="inputDefault">Id</label>
                <input type="text" class="form-control" placeholder="" id="inputDefault">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group input-margin">
                <label class="col-form-label" for="inputDefault">Group (GRP)</label>
                <input type="text" class="form-control" placeholder="" id="inputDefault">
              </div>
            </div>
          </div>
        </div>

      </div> <!-- div ended -->

      <div class="form-group">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck1">
          <label class="custom-control-label" for="customCheck1">I acknowledge that the information that I have provided
            is true and content to the best of my knowledge</label>
        </div>
      </div>

      <div class="form-group">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck1">
          <label class="custom-control-label" for="customCheck1">I have read and accept the <a>Terms and
              Conditions</a></label>
        </div>
      </div>
    </div>
  </div>
  <!-- If no ended -->
  <button type="button" class="btn btn-proj-color btn_float" (click)="nextStep();">Submit</button>
</div>