.input-align{
    border: 1px solid #39B9AD;
    width: 20%;
    height: 34px;
    text-align: center;
    background: #39B9AD;
    margin-left: 20px;
}

input[type=checkbox] {
    zoom: 1.5;
    background: #fff;
}
.benifit_info{
    margin-top: 30px;
}

.input-margin{
    width: 70%;
}

.btn_float{
    float: right;
}
.card{
    border: 1px solid gray;
    width: 50%;
    height: 85%;
    margin-left: -100px;
    margin-top: 15px;
border-radius: 10px; 
color: gray;
padding-left: 10px;
}
.text_sizing{
    font-size: 13px;
    margin-bottom: -20px;
}