<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step [completed]="false">
    Under construction - step 1
  </mat-step>
  <mat-step [completed]="false" [stepControl]="secondFormGroup">
    <app-med (navigate)="itemNavigate($event);"></app-med>
  </mat-step>
  <mat-step [completed]="false">
    <app-insu></app-insu>
  </mat-step>
</mat-horizontal-stepper>