.example-chip-list {
    width: 70%;
  }

  .poc-chip-list {
    width: 100%;
}

.poc-ta-container {
    float: left;
    width: 100%;
    padding-left: 10px;
}

.poc-custom-chip .mat-form-field-appearance-legacy .mat-form-field-underline {
    height: 0;
}



.bor-align{
    border: 1px solid black;
}

.mat-form-field-infix{
  padding: .4375em 0;
  border: none;
}

.mat-autocomplete-panel {
    min-width: 112px;
    max-width: 280px;
    /* overflow: auto; */
    /* -webkit-overflow-scrolling: touch; */
    visibility: hidden;
    max-width: none;
    position: relative;
    width: 100%;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
