<h2>Your specialty medications</h2>
<p>We notice you're not enrolled in our system yet. Please provide medicaation and prescriber information
  below to enroll with us
</p>

<p><strong>Specialty medication information</strong></p>

<div>

  <p><strong>Medication Name</strong></p>

<mat-form-field class="example-chip-list">
  <mat-chip-list #chipList>
    <mat-chip *ngFor="let sOpt of selOptions; index as i" [selectable]="selectable" [removable]="removable" (removed)="remove(sOpt)"
      (click)="rmItem(i);">
      {{sOpt}}
      <div *ngIf="delItem==i">
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        <!-- <i class="material-icons" style="margin-left: 8px; font-size: 18px;"> -->
          <!-- clear -->
          <!-- </i> -->
      </div>
    </mat-chip>
    <input maxlength="3" placeholder="Add Drug..." #optTextArea (keyup)="onKeychange($event)" (keyup.backspace)="onKeychange($event)"
      [matAutocomplete]="auto" [matChipInputFor]="chipList" [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event, sOpt)">
    <mat-option *ngFor="let fOpt of filteredOptData | async" [value]="fOpt">
      {{fOpt}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
<!-- </div> -->

<h3>Prescribe Information</h3>

<div class="form-group">
  <label class="form-control-label" for="inputDanger1">Invalid input</label>
  <input type="text" value="wrong value" class="form-control is-invalid" id="inputInvalid">
  <div class="invalid-feedback">Sorry, that username's taken. Try another?</div>
</div>

  <div class="form-group" >
    <label for="usr"><strong>First Name and Last Name</strong></label>
      <input type="text" *ngIf="itemInvalid==true" [(ngModel)]="obj.name" class="form-control is-invalid" id="usr"  (click)="fnAlphabets($event);">
      <input type="text" *ngIf="itemInvalid==false" [(ngModel)]="obj.name" class="form-control" id="usr"  (keypress)="fnAlphabets($event);">
  </div>

  <!-- <div class="form-group" >
    <label for="usr"><strong>First Name and Last Name</strong></label>
    
  </div> -->

  <div class="form-group">
    <label for="usr"><strong>Phone Number</strong></label>
    <input type="text"  [(ngModel)]="obj.number" class="form-control" id="usr" (keypress)="fnNumbers($event)" minlength=10 maxlength=10>
  <span style="color:gray">Example: 555-555-555</span>
  </div>

  <!-- <input [(ngModel)]="obj.file" type="file" name="pic" (change)="uploadData($event)"> -->

  <button type="button" class="btn btn-proj-color" (click)="nextStep();">Continue</button>

  <input type="file" style="display: inline-block;" (change)="incomingfile($event)" placeholder="Upload file" accept=".xlsx">
<button type="button" class="btn btn-info" (click)="Upload()" >Upload</button>

  <!-- <button type="button" class="btn btn-proj-color" (click)="nextfile($event);">excel</button> -->