/* You can add global styles to this file, and also import other style files */
/* Material design CSS import */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.btn-proj-color{
    background:#CB0102;
    color: white;
}
.mat-stepper-horizontal-line {
    display: none;
}

.mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
    background-color: #CB0102;
    color: #fff;
}

.mat-step-header {
    width: 1% ;
}
.mat-form-field-infix {
    padding: .5em 0;
    border: 1px solid gray;
}

.mat-chip.mat-standard-chip {
    background-color: #e0e0e0;
    color: rgba(0,0,0,.87);
    border-radius: inherit;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
    display: none;
    }
    .mat-horizontal-stepper-header{
        pointer-events: none !important;
    }

    textarea {
        overflow: auto;
        resize: vertical;
        border: none;
        height: 29px;
        outline: none;
        box-shadow:none !important;
        width: 100%;
    }

    .mat-form-field-appearance-legacy .mat-form-field-infix {
      border: none
    }
    
    .mat-autocomplete-panel {
        min-width: 112px;
        max-width: 280px;
        overflow: hidden !important;
        -webkit-overflow-scrolling: touch;
        visibility: hidden;
        max-width: none;
        max-height: 500px !important;
        position: relative;
        width: 100%;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }

    .mat-horizontal-stepper-header .mat-step-icon {
        margin-right: 8px;
        flex: none;
        width: 30px;
        height: 30px;
    }

    .mat-form-field {
        font-size: inherit;
        font-weight: 400;
        line-height: 1.125;
        font-family: Roboto,"Helvetica Neue",sans-serif;
        border: 1px solid gray;
    }